body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f4f4;
}

h1 {
    color: #444;
}

#selectionContainer {
    width: 100%;
    max-width: 600px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

#assetSelection, #bondSelection, #alternativeSelection {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

label {
    margin-right: 10px;
    font-weight: 600;
}

input[type=checkbox], input[type=radio] {
    margin-right: 5px;
}

#allocationSelection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
}

#allocationSelection label, #allocationSelection span {
    margin: 10px 0;
}

input[type=range] {
    width: 100%; /* 비중 선택 바의 너비를 조정 */
    cursor: pointer;
}

button {
    padding: 10px 25px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

#chartContainer {
    height: auto; /* 차트 컨테이너 높이 자동 조정 */
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}

#performanceChart {
    width: 100%;
    height: 400px; /* 차트 높이 설정 */
}

#totalAllocationBar {
    width: 100%;
    max-width: 600px; /* 비중 조절 바와 같은 최대 너비를 설정 */
    height: 20px;
    background-color: #ddd;
    border-radius: 5px;
    margin: 20px auto; /* 중앙 정렬 */
    position: relative; /* allocationFill을 상대적으로 배치하기 위해 */
}

.allocationFill {
    height: 100%;
    border-radius: 5px; /* 깔끔한 모서리 처리 */
    position: absolute;
    top: 0;
}

/* 비중에 따라 너비가 조정되도록 JavaScript에서 동적으로 width 값을 설정해야 함 */


.stockFill { background-color: #ffa500; } /* 주황색 */
.bondFill { background-color: #4caf50; } /* 초록색 */
.alternativeFill { background-color: #2196f3; } /* 파란색 */
.overLimit { background-color: #f44336; } /* 붉은색을 사용하여 한계 초과를 표시 */
