body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f4f4;
}

h1 {
    color: #444;
}

#assetSelection, #allocationSelection, #chartContainer {
    width: 100%;
    max-width: 600px; /* 모든 섹션의 너비를 통일 */
    margin: 20px 0;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

#assetSelection > div, #allocationSelection {
    margin-bottom: 20px;
}

label {
    margin-right: 10px;
    font-weight: 600;
}

input[type=checkbox], input[type=radio] {
    margin-right: 5px;
}

#allocationSelection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#allocationSelection label, #allocationSelection span {
    margin: 10px 0;
}

input[type=range] {
    width: 100%; /* 비중 선택 바의 너비를 조정 */
    cursor: pointer;
}

button {
    padding: 10px 25px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    font-size: 16px;
    font-weight: bold;
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

#chartContainer {
    height: auto; /* 차트 컨테이너 높이 자동 조정 */
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#performanceChart {
    width: 100%;
    height: 400px; /* 차트 높이 설정 */
}

#totalAllocationBar {
    width: 100%;
    height: 20px;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden; /* 넘치는 부분을 숨김 */
}

.allocationFill {
    height: 100%;
    position: absolute;
}

.stockFill { background-color: #ffa500; } /* 주황색 */
.bondFill { background-color: #4caf50; } /* 초록색 */
.alternativeFill { background-color: #2196f3; } /* 파란색 */
.overLimit { background-color: #f44336; } /* 붉은색을 사용하여 한계 초과를 표시 */

